# Day_1 

## Python support 3 categories data type:
#### 1. basic type : (int,float,bollean and string)
#### 2. container type:(list,tuple ,set,dictionary)
#### 3. user define type : class

In [11]:
# integer
print(4)
print(1e308)

4
1e+308

In [13]:
# float
print(4.5)
print(1.7e307)

4.5
1.7e+307

In [14]:
# boolean
print(True)
print(False)

True
False

In [15]:
# complex
print(4+8j)

(4+8j)

In [16]:
# string
print('abhi')
print("abhi")
print("""abhi""")

abhi
abhi
abhi

In [17]:
# list
print([1,2,5,3,6])

[1, 2, 5, 3, 6]

In [18]:
#Tuplr
print((1,2,5,4,6,5))

(1, 2, 5, 4, 6, 5)

In [19]:
# dictionary
print({"A":5})

{'A': 5}

# comments

In [ ]:
# enhance code readability
# this is a comment
# No multi line comment

# Variables

In [20]:
name = 'Abhishek'
print(name)

Abhishek

In [22]:
# No var declaration use directly

In [23]:
# Dynamic typing present in python 
# static typing not present(no need to declear var)

In [24]:
print(name)

Abhishek

In [27]:
name = 4
print(name)

4

In [28]:
# Dynamic Binding

In [29]:
# static binding (declear var life time not in python)

In [33]:
a =5;b=6;c=10
x,y,z = 4,8,6
q=r=t=8
print(a)
print(b)
print(c)
print(x)
print(y)
print(z)
print(q)
print(r)
print(t)

5
6
10
4
8
6
8
8
8

# Keywords and Identifiers
 #### Python a case sensitive programming language
    
##### In programming, a keyword is a word that is a reserved by program because the word has special meaning.keywords can be commands or parameters,every prog lang has a set of keywords that cannot be used in variable name.

In [34]:
# python has 3 keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Identifiers
##### A python identifier is a name used to identify cariable,funtion,class method or the object

### Rules of setting identifiers
#### can only start with an alphabet or _
#### followed by 0 and more letter,_ and digits
#### keywords cannot be used as an identfiers

In [35]:
False = ("False")
print(False)

SyntaxError: cannot assign to False (3927116261.py, line 1)

# User input taking and type conversion

In [36]:
input()

5

'5'

In [38]:
f_num = input("Enter 1st num1")
s_num = input("Enter 2nd num2")
print(f_num)
print(s_num)

Enter 1st num15
Enter 2nd num26
5
6

In [40]:
result = f_num + s_num
print(result)

56

In [41]:
# type
type(result)

str

# Implicit Type conversion: 
#### : know python own no need any conversion
# Explicit Type conversion:
### : Need to do by forcefully

In [43]:
# implicitly
4+5

9

In [44]:
# explicit

f_num+s_num

'56'

In [45]:
# all type :int,str,complex,list ,tuple,dict, 
# it change depend

In [47]:
# type conversion (its not permanent)
a = 5.0
int(a)

5

In [48]:
a

5.0

# Literals

#### Literals is a row data given in a varible. in Python there are various type of literals they are follows:

#### Numerical Literals
#### String Literals
#### Bollean literals
#### Special Literals

## 1. Numerical Literals

In [52]:
a = 0b1010  #binary
b = 100     #decimal
c = 0o310   #octal
d = 0x12c   #decimal

#float literal
f_1 = 10.5
f_2 = 1.5e2
f_3 = 1.5e-3

# complex
x = 3.14j

print(a,b,c,d)
print(f_1,f_2,f_3)
print(x,x.imag,x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

## 2. String Literals

In [63]:
st = 'This ia python'
sts = "this is a new "
char = "C"
multistring = """this is use for multi line string"""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r" data raw \n string"

print(st)
print(sts)
print(char)
print(multistring)
print(unicode)
print(raw_str)

This ia python
this is a new
C
this is use for multi line string
ðŸ˜€ðŸ˜†ðŸ¤£
 data raw \n string

##  3.Boolean Literals

In [64]:
a = True + 4
b = False + 5
print("a:",a)
print("b:",b)

a: 5
b: 5

## 4.Special Literals

In [70]:
# assign variable just take inside code no use 
a = None
print(a)

None

In [69]:
c = 45+95

# Operators
### operators are use to perform operation on the vatibales and values.Python has the following operator:
- ### Arithmatic operators
- ### Comparision operators
- ### Logical operators
- ### Bitwise operators
- ### Assignment operators
- ### Identity operators
- ### Membership operators

In [83]:
#Arithmatic operator

x = 5
y = 2

x + y

7

In [72]:
x-y

3

In [73]:
# true division
x/y

2.5

In [74]:
# integer division
x//y

2

In [76]:
x%y

1

In [77]:
x ** y

25

In [78]:
# comparision operator

x>y

True

In [79]:
x<y

False

In [84]:
x==y

False

In [85]:
x!= y

True

In [88]:
# Logical operator
p = True
q =False

print(p or q)

True

In [89]:
p and q

False

In [91]:
not q

True

In [93]:
# Bitwise
x = 2
y = 3

In [94]:

print(x & y)

2

In [96]:
x|y

3

In [97]:
x >> y

0

In [98]:
x<<y

16

In [99]:
-x

-2

In [100]:
#Assignment operator

a=3
a

3

In [102]:
a += 6
print(a)

9

In [103]:
a -= 6
a += 9 
a *= 10
a &= 10

In [104]:
# Identity operator(same menory location both var or not)
a = 2
b = 2
print(a is b)

True

In [105]:
a = [1,2,5]
b = [1,2,5]

a is b

False

In [112]:
a = "ab-hi"
b = "ab-hi"
print(a is b)
print(b  is not a)

False
True

In [110]:
# membership operator
x = "delhi"
print("d" not in x)
print("i" in x)

False
True

#  Decision control

In [117]:
# corr_email = xyz@gmail.com
# pass = 123
email = input("Enter email")
if '@' in email:
    password = input('enter password')
    if email == "xyz@gmail.com" and password == "1234":
        print("Welcome")
    elif email == "xyz@gmail.com" and password != "1234":
        print("pass incorrect")
        password = input("password give")
        if password == "1234":
            print("final correct")
        else:
            print("still wrong")
    else:
    	print("wrong email")
else:
    print("wrong email")

Enter emaildsf
wrong email

In [120]:
#  While 
# For


x = 2
while x < 10:
    print(x)
    x += 1

2
3
4
5
6
7
8
9

In [124]:
# guessing_game
import random

random.randint(1,100)

69

In [127]:
jackpot = random.randint(1,100)
guess = int(input(" guess"))
counter = 0
while guess != jackpot:
    if guess < jackpot:
        print("guess higher")
    else:
        print("guess lower")
        
    guess = int(input("enter guess new num"))
    counter += 1
        
print(" right guess")

 guess5
guess higher
enter guess new num50
guess higher
enter guess new num90
guess lower
enter guess new num80
guess lower
enter guess new num70
guess higher
enter guess new num75
guess higher
enter guess new num77
guess lower
enter guess new num76
 right guess

#  Break, Continue, Pass

In [128]:
for i in range(1,11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [130]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [132]:
for i in range(1,11):
        pass

# Build in function and build in Module

In [ ]:
# 15 bild in fun here but there are more
#print, input, type, int etc, abs( "modules fun or positive val") ,pow ,min/max,
#round, divmod(x//y,x%y ), bin/oct/hex,id(a), ord, len,sum, help

In [133]:
divmod(5,2)

(2, 1)

In [139]:
5%2

1

In [140]:
s = 10

In [142]:
## address
id(s)

2385316244048

In [138]:
## ascaii val
ord("a")

97

In [143]:
help(sum)

No Python documentation found for '56'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

# Module
## Consider a module to be the same as a code liberary
#### a file containing a set of functins you want to include in your application.

#### example :  Math,Random,os,time

In [ ]:
help('modules')

Please wait a moment while I gather a list of all available modules...

C:\Users\yoges\anaconda3\lib\site-packages\IPython\kernel\__init__.py:12: ShimWarning: The `IPython.kernel` package has been deprecated since IPython 4.0.You should import from ipykernel or jupyter_client instead.
  warn("The `IPython.kernel` package has been deprecated since IPython 4.0."
WARNING: AstropyDeprecationWarning: The private astropy._erfa module has been made into its own package, pyerfa, which is a dependency of astropy and can be imported directly using "import erfa" [astropy._erfa]
C:\Users\yoges\anaconda3\lib\site-packages\paramiko\transport.py:219: CryptographyDeprecationWarning: Blowfish has been deprecated
  "class": algorithms.Blowfish,
C:\Users\yoges\anaconda3\lib\site-packages\nltk\twitter\__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn(
C:\Users\yoges\anaconda3\lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")
No QCoreApplication instance found. Application patches not applied. You have to call load_stylesheet function after instantiation of QApplication to take effect.
C:\Users\yoges\anaconda3\lib\pkgutil.py:108: VisibleDeprecationWarning:

zmq.eventloop.minitornado is deprecated in pyzmq 14.0 and will be removed.
    Install tornado itself to use zmq with the tornado IOLoop.

In [ ]:
import math

In [ ]:
math.

In [1]:
import time

In [2]:
time.time()

1674406943.4634156

In [4]:
time.ctime()

'Sun Jan 22 22:32:39 2023'

In [5]:
print("hello")
time.sleep(2)
print("abhi")

hello
abhi

In [8]:
import os
print(os.getcwd())
print(os.listdir())

C:\Users\yoges\pythonFolder
['.ipynb_checkpoints', '1st sql with python.ipynb', '2.jpg', '20 questions.ipynb', 'Adv_Py_Exception_hand.ipynb', 'Basic_python.ipynb', 'births.csv', 'exception', 'File Handling.ipynb', 'gfgf.txt', 'glass.data', 'inheritance_SI_MI_mI.ipynb', 'iterators.ipynb', 'list.log', 'Logining.ipynb', 'my_module.py', 'new.txt', 'OOPs_1ST.ipynb', 'pandas_working_numpy', 'Python_courseX.ipynb', 'python_oops', 'python_VC1 TY.CA.ipynb', 'python_VC2_L-T-S-D.ipynb', 'python_VC3_Fun.ipynb', 'python_VC3_IF-ELSE-S.ipynb', 'python_VC3_ITerable-gen.ipynb', 'Sql_NOsql', 'test.txt', 'test1.py', 'test1.txt', 'test8.txt', 'Untitled.ipynb', 'untitled.txt', 'Untitled1.ipynb', 'Untitled2.ipynb', 'Untitled3.ipynb', 'Untitled4.ipynb', '__pycache__']

# String 
### string are sequence of character
### in python specially.string are a sequence of unicode characters

- creating string
- Accessing string
- Editing string
- Deleting string
- operations on string
- string Function

In [9]:
# creting string
c = 'hello'
x = "thi's a raju"
a = """this is use for blog """
print(c)
print(x)
print(a)

hello
thi's a raju
 this is use for blog

In [14]:
# ACCESSING STRING 
 #positive indexing
 #negative indexing
c = "Hello"
print(c[2])
print(c[-1])
print(c[20])

l
o

IndexError: string index out of range

In [30]:
# Slicing

print(c[:-2])
print(c[::-2])
print(c[::])
print(c[:2])
print(c[2:-2])
print(c[-5:-1:2])

Hel
olH
Hello
He
l
Hl

In [32]:
# Edit is not possible
# string is immutable Data type but reassign 
c[0] = 'p'

TypeError: 'str' object does not support item assignment

In [33]:
# delete (not work on char its delete complete only )
del c

In [34]:
c

NameError: name 'c' is not defined

In [35]:
# Operation  on string 
#Arithmatic (+,*)
#Relational operation
#Logical 
#loop n strings
# membership operation

In [41]:
print("*"*4)

****

In [42]:
# lexiographically (dic)
"Mumbai" > "Pune"

False

In [43]:
"A">"a"

False

In [44]:
"hellow" and "world"

'world'

In [46]:
#"" -> False
#"abhi" -> True

In [48]:
"" and "Hello"

''

In [49]:
"" or "abhi"

'abhi'

In [50]:
"hello" or "world"

'hello'

In [52]:
not "hello"

False

In [53]:
not ""

True

In [54]:
# LOOp

c = "hello world"
for i in c[2:5]:
    print(i)

l
l
o

In [55]:
# membership
'h' in c

True

# List:
- create(1D,2D,3D)
- Access(x[1][2][0])
- edit
- add(append(last mai single item),extend( multi item append('g;,;o;,;a;)),insert(index,"txt"))

- delete(del(index,full list),remove("txt"),pop("last one del"),clear(empty list))

- operation(+(concatination),*(rplicas))

- fun( len,min/max,sorted(asc,dec),sort(permanent operation),index, Title)

In [57]:
# make title
x = "this is abhishek"
y =[]
for i in x.split(" "):
    print(i.capitalize())
    y.append(i.capitalize())
print(y)

This
Is
Abhishek
['This', 'Is', 'Abhishek']

In [59]:
x = "this@isa.com"

In [62]:
print(x[:x.find("@")])

this

In [64]:
q = [1,2,5,4,6,88,8,5,4]
r = [1,2,4,5,8,88]

In [65]:
l =[]
for i in q:
    if i not in l:
        l.append(i)
print(l)

[1, 2, 5, 4, 6, 88, 8]

# Tuples
- create(1,2,3-D)(single item tuple is ->  l = (5,))
- access(same slice)
- edit(immutable )
- add()
- delete()
- operation(+,*,loop)
- function(same,len,min/max,sum,sort,reverse)

## Tuples are read only data type: integrity maintain

# Sets:

- Not allow duplicates
- Not  allow indexing 
- Not allow multiple data types
- Set itself mutable(2,3->d nt allow)
- for empty set x = set{}
- 
-
-
-

In [71]:
s1 = set()

In [73]:
s1 = {1,2,5,3,6,5,4,4,5,6,3,4}

In [75]:
print(s1)

{1, 2, 3, 4, 5, 6}

In [76]:
s2 = {(1,2,3),"hello"}

In [103]:
# follow hashing not indexing
s2

set[[100, (1, 2, 3)]]

In [106]:
k1 = list(s1)

In [107]:
k1

[1, 2, 3, 4, 5, 6]

In [108]:
k1[0] =100

In [109]:
k1

[100, 2, 3, 4, 5, 6]

In [110]:
s1 = set(k1)

In [111]:
s1

{2, 3, 4, 5, 6, 100}

In [112]:
# delete only full
# remove same
# pop from start

# Dictionary

 ## Rules
- No indexing
- mutable type
- key->immutable,val-> mutable
- key should be unique
- if use repeating key than update that value with latest one

In [117]:
# recursion
def memo(m,d):
    if m in d:
        return d[m]
    else:
        d[m] = memo(m-1,d) + memo(m-2,d)
        return d[m]
    
start = time.time()
d = {0:0,1:1}
print(memo(10,d))
print(time.time()-start)
print(d)

55
0.0009999275207519531
{0: 0, 1: 1, 2: 1, 3: 2, 4: 3, 5: 5, 6: 8, 7: 13, 8: 21, 9: 34, 10: 55}

In [118]:
# powerset 
x = [1,2]

In [ ]:
# Lambda function
## No return value
## one line
## Not use for code reusability
## No name
## use :  Along with high order function

In [123]:
# square num
y = lambda x : x**2
z = lambda x,y : x+y
print(z(2,5))
print(y(2))

7
4

In [130]:
b = lambda x:x[0]=='a'

In [133]:
b('abhdf')

True

In [135]:
b = lambda x: "Even" if x%2 == 0 else "odd"

In [136]:
b(50)

'Even'

In [137]:
#HOF
## fun use fun for result

In [141]:
def return_sum(fun,l):
    result = 0
    for i in l:
        if fun(i):
            result += i
    return result

l = [5,1,7,5,2,3,55,99,66,44,11]
x = lambda x:x%2 == 0
y = lambda x:x%2 != 0
z = lambda x:x%3 == 0

print(return_sum(x,l))
print(return_sum(y,l))
print(return_sum(z,l))

112
186
168

In [142]:
# map,filter,reduce

In [148]:
# map
l= [12,5,4,2,3,9,7]

In [149]:
map(lambda x:x**2,l)

In [150]:
list(map(lambda x:x**2,l))

[144, 25, 16, 4, 9, 81, 49]

In [151]:
list(map(lambda x:x/2,l))

[6.0, 2.5, 2.0, 1.0, 1.5, 4.5, 3.5]

In [152]:
list(map(lambda x:x%2==0,l))

[True, False, True, True, False, False, False]

In [ ]:
filter single col


map(lambda student:student['name'],student)

In [153]:
# filter
l = [2,5,6,9,7,4,5]

In [154]:
list(filter(lambda x:x>4,l))

[5, 6, 9, 7, 5]

In [155]:
fruits = ['apple','banana','mango','cherry']
list(filter(lambda fruit:'e' in fruit,fruits))

['apple', 'cherry']

In [157]:
# Reduce
import functools
l = [5,7,6,9,5,8,1]

In [160]:
functools.reduce(lambda x,y:x+y,l)

41

In [162]:
functools.reduce(lambda x,y:x if x>y else y,l)

9

In [163]:
l2 = [i**2 for i in range(10)]

In [164]:
l2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [165]:
[i**2 for i in range(10) if i%2 ==0]

[0, 4, 16, 36, 64]

In [168]:
[fruit for fruit in fruits if fruit[0] == 'a']

['apple']

In [169]:
d = {'name':'abhi','age':30}

In [171]:
d.items()

dict_items([('name', 'abhi'), ('age', 30)])

In [174]:
d1 = {key:value for key,value in d.items() if len(key) > 3}

In [175]:
d1

{'name': 'abhi'}

In [176]:
d2 = {item:item**2 for item in l}

In [177]:
d2

{5: 25, 7: 49, 6: 36, 9: 81, 8: 64, 1: 1}